body {
    background-color: rgb(253, 221, 211);
    padding: 0px;
    margin: 0px;
}

header {
    text-align: center;
}

.himage1 {
    height: 200px; 
}

.himage2 {
    height: 200px; 
}

nav {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -4px;
}
/* style the links inside the navigation bar */
nav a {
    color: black;
    text-align: center;
    padding: 14px 16px; 
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* change the colour of the links on hover */
nav a:hover {
    background-color: blue;
    color: aliceblue;
    font-size: 1.5em;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.box {
    background: white;
    width: 21%;
    height: 450px;
    overflow: visible;
    margin: 20px;
    display: block;
    float: left;
}

article img {
    width: 100%;
}

h2 {
    padding: 0 0 0 10px;
    text-align: left;
}

p {
    padding: 0 10px 0 10px;
    text-align: left;
}

footer {
    clear: both;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}