body {
    background-color: rgb(254, 185, 161);
    padding: 0px;
    margin: 0px;
}

header {
    text-align: center;
}

.himage1 {
    height: 200px; 
}

nav {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -4px;
}
/* style the links inside the navigation bar */
nav a {
    color: black;
    text-align: center;
    padding: 14px 16px; 
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* change the colour of the links on hover */
nav a:hover {
    background-color: blue;
    color: aliceblue;
    font-size: 1.5em;
}
